/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
  
}

/* 아래에 container css style을 지정해주세요. */
.container {
  width: 100vw;
  height: 16vh;
  display: grid;
  /* grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr; */
  background-color: #070a07;
  color: #ff7710;
  border: 1px solid white;
}

.container2{
  display: grid;
  float: right;
  margin-top: 0px;

}

/* 아래에 item css style을 지정해주세요. */
.item {
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.area2{
  border: 1px solid white;
  width: 32vw;
  height: 80vh;
  background-color: #070a07;
  color: orange;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 20px;
  margin-left: 30px;
  border-radius: 10px;
  
}

.area3{
  border: 1px solid white;
  width: 60vw;
  height:50vh;
  display: flex;
  background-color: #070a07;
  color: #ff7710;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
}

.area4{
  border: 1px solid white;
  width: 60vw;
  height: 26.5vh;
  display: flex;
  background-color: #070a07;
  color: #ff7710;
  float: right;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 10px;
  margin-top: 20px;
}
