/* Global -------------------------------------------------*/

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
  width: 100vw;

  
}

/* 아래에 container css style을 지정해주세요. */
.container {
  width: 100vw;
  height: 16vh;
  display: grid;
  /* grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr; */
  background-color: #070a07;
  color: orange;
  border: 1px solid white;
  margin-top: 0px;
}

.container2{
  display: grid;
  float: right;
  margin-top: 0px;

}

/* 아래에 item css style을 지정해주세요. */
.item {
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 16vh;
  background-color: #070a07;
  color: #ff7710;
  margin-top: 0px; 
}

#cute{
  font-size: xxx-large;
}

.area2{
  border: 1px solid white;
  width: 25vw;
  height: 80vh;
  background-color: #070a07;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-table;
  margin: 20px;
  margin-left: 60px;
  border-radius: 10px;
  margin-top: 25px;
  
}

.area3{
  border: 1px solid white;
  width: 69vw;
  height:50vh;
  display: flex;
  background-color: #070a07;
  color: #ff7710;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
}

.area4{
  border: 1px solid white;
  width: 69vw;
  height: 26.5vh;
  display: flex;
  background-color: #070a07;
  color: #ff7710;
  float: right;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border-radius: 10px;
  margin-top: 35px;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  background-color: black;
  
}


.item2{
  display: inline-block;
  border: 1px solid black;
  width: 640px;
  height:80px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  /* align-items: center; */


}

#dots{
  float: right;
  display: flex;
  position:relative;
  right: 15px;
  bottom: 40px;
  align-items: center;
  justify-content: center;
}

#pro{
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: left;
  float: left;
  position: relative;
  margin: 15px;
}

.post{
  
  align-items: center;
  flex-direction: column;
  display: flex;
}

/* .top{
  display: flex;
  position: relative;
  text-align: center;
  height: 40px;
 
} */

/* #left_icon{
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  
} */

/* .post{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
} */

#myid{
  display: inline;
  position: relative;
  flex-direction: column;
  top: 8px;
  
}

p{
  margin: 0;
}

/* #dots{
  display: flex;
  align-items: center;
  float: right;
  position: relative;

} */

.main{
  width: 650px;
  height: 810px;
  background-image: url('https://i.ibb.co/SxGXw3C/likelion.jpg');
  background-size: cover;
  position: relative;
}

.main img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

#icon_comment{
  transform: scaleX(-1);
  left: 10px;
  position: relative;
}

#plane{
  left:20px;
  position: relative;
}


.icon_left{
  display: inline;
  float: left;
  top: 13px;
  position: relative;
  left:10px;
}

.icon_right{
  display: inline;
  float:right;
  margin-top: 7px;
  position: relative;
  right: 10px;
}
/* 
.post_content{
  height: 21vh;
  
} */

#data{
  display: block;
  position: relative;
  font-size: small;
  color: rgb(139, 139, 139);
}

#pro2{
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  justify-content: center;
  top: 50%;
}


/* .bottom_icon{
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  height: 43px;
} */


#like{
  text-align: left;
  top:10px;
  position: relative;
  left:10px;
}

#data{
  top: 15px;
  position: relative;
  left: 10px;

}

/* .post{
  font-size: large;
} */

#location{
  font-size: small;
  position: relative;
  display: block;
  /* margin-top: 5px; */
}

#myid{
  font-size: x-large;
  position: relative;
  line-height: 50px;
}

table{
  color:white;
  border: 1px solid black;
  background-color: white;
  border-collapse:collapse;
  width: 33vw;
  height: 45vh;
  margin-left:45px;
  border-radius: 20px;
}

td, th{
  width: 50px;
  height:50px;
  border: 1px solid black;
  text-align: center;
  color:black;
  font-size: x-large;
}

.difficult{
  color:white;
  margin-left:20px
}

.difficult p{
  font-size: xxx-large;
  margin-left: 40px;
}

.difficult li{
  font-size: xx-large;
  line-height: 50px;
  margin-left: 40px;
}

.area4 p{
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-name: animation;
  font-size: xxx-large;
  /* width: 50px;
  height: 50px; */
}
@keyframes animation{
  from{
    margin-left:100%;
    width:300%;
  }
  to{
    margin-left: 0%;
    width:100%;
  }
}